@import '../../../../styles/variables';

header{
    border-bottom : 1px solid var(--hitech-border);
    padding : 10px;
    box-shadow:  var(--hitech-shadow);
    text-shadow: var(--hitech-shadow);
}