// ============================
// 🎨 Variables Globales SCSS
// Proyecto: Angular 16
// Autor: Cyber
// Descripción: Base de colores, tipografía, bordes y sombras.
// ============================

// BACKGROUNDS
$hitech-bg-dark: #101010;

// TEXT COLORS
$hitech-text: #02aefd;

// SHADOWS
$hitech-shadow: 0px 0px 13px #0be1fd;

// BORDER
$hitech-border: 1px solid #2de4fc;

// BORDER RADIUS
$hitech-border-radius: 5px;

// TRANSITION
$hitech-transition: all 0.3s ease-in-out;

// ICONS
$hitech-icon: #02aefd;

// STATUS
$hitech-disabled: #686c6d;

/////////////
/// ALIAS ///
/////////////

:root {
  // BACKGROUNDS
  --hitech-bg-dark: #{$hitech-bg-dark};

  // TEXT COLORS
  --hitech-text: #{$hitech-text};
  
  // SHADOWS
  --hitech-shadow: #{$hitech-shadow};
  
  // BORDER
  --hitech-border: #{$hitech-border};
  
  // BORDER RADIUS
  --hitech-border-radius: #{$hitech-border-radius};
  
  // TRANSITION
  --hitech-transition: #{$hitech-transition};
  
  // ICONS
  --hitech-icon: #{$hitech-icon};

  // STATUS
  --hitech-disabled: #{$hitech-disabled};
}
